<h1>DragonBallSuper Page</h1>

<section class="row">
    <div class="col-12 col-sm-6">

        <dragon-character-add
           (newCharacter)="dragonballService.addCharacter($event)" />
        <!-- 
            (newCharacter) ==> evento EMITIDO por el componente hijo dragon-character-add
            addCharacter($event) ==> METODO que se ejecuta en el componente padre dragonball-super 
            $event ==> VALOR del evento emitido 
        -->
    </div>
    
    <div class="col-12 col-sm-6">

        <dragonball-character-list 
            listName = "Listado de personajes"
            [characters]="dragonballService.characters()"/>
    
        </div>
    

</section>